Bootstrap-Flask==2.4.0
Flask_CKEditor==1.0.0
Flask_Login==0.6.3
Flask-Avatars==0.2.3
Flask_WTF==1.2.2
WTForms==3.0.1
Werkzeug==3.1.4
Flask==3.1.2
flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.45
gunicorn==21.2.0